apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: hello
  labels:
    name: hello
spec:
  triggers:
  - type: ConfigChange
  source:
    type: Git
    git:
      uri: "https://github.com/tektutor/openshift-may-2024.git"
      ref: main
    contextDir: "Day5/BuildConfig"
  strategy:
    type: Docker
  output:
    to:
      kind: DockerImage
      name: "openshiftjegan.jfrog.io/jegan-docker/hello-spring-microservice:2.0"
    pushSecret:
      name: private-jfrog-image-registry
